<div class="row">
  <div class="col-md-12 ">
    <div class="chat-message">
        <ul class="chat">
            
            
        </ul>
    </div>
    <div class="chat-box bg-white">
      <div class="input-group">
        <input id="message" class="form-control border no-shadow no-rounded" placeholder="Type your message here">
        <span class="input-group-btn">
          <button class="btn btn-success no-rounded" type="button" id="send">Send</button>
        </span>
      </div>
    </div>
  </div>
</div>